---
layout: null
title: wzhn.me
---

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#f5abf1">
<title>WZN - 作品集</title>
<link rel="apple-touch-icon-precomposed" href="{{site.url}}/favicon-152.png">
<link rel="shortcut icon" sizes="196x196" href="{{site.url}}/favicon-196.png">
<link rel='mask-icon' href='{{site.url}}/favicon.svg' color='#5b3340'>
<link rel="manifest" href="/manifest.json">
<style>
    body {
      width: 100%;
      overflow-x: hidden;
      text-align: center;
    }
    img {
      width: 1080px;
      max-width: 100%;
      margin: 0 auto;
    }
</style>
</head>
<body>
  {% for file in site.static_files %}
  {% if file.path contains 'project0r1' %}
    <img src="{{site.url}}{{site.baseurl}}/project0r1/{{file.name}}" alt="">
  {% endif %}
  {% endfor %}
<script>
if ('serviceWorker' in navigator) {
  window.addEventListener('load', () => {
    navigator.serviceWorker.register('/sw.js').then((reg) => {
      console.log('SW registered: ', reg);
    }).catch((err) => {
      console.log('SW registration failed: ', err);
    });
  });
}
</script>
</body>
</html>
